#options > btn {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 21px;
  padding: 5px 10px;
}

#text {
  font-size: 30px;
}

#subtext {
  font-size: 20px;
  opacity: 0.5;
}

.mainland_china {
  transition: all 0.4s ease;
}

#additional {
  margin-top: 3px;
  margin-bottom: 10px;
}