#reactive_core {
  width: 500px;
  aspect-ratio: 843.39 / 128.48;
  border-radius: 100%;
  opacity: 0.5;
  top: 50%;
  translate: 0 -50%;
  filter: blur(4px);
  position: fixed;
}

#reactive_note_core {
  width: 500px;
  border-radius: 100%;
  aspect-ratio: 843.39 / 128.48;
  margin: auto;
  position: fixed;
  top: 50%;
  translate: 0 calc(-50% - 30px);
  background-size: cover;
  opacity: 0;
  animation: fadein ease 1s forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

body {
  margin: 0px !important;
  transition: unset;
  background-color: black;
}

.logo {
  width: 500px;
  aspect-ratio: 843.39 / 128.48;
  margin: auto;
  background: url('../Assets/Oradea.svg');
  background-size: cover;
  opacity: 0.5;
  animation: logoLoop ease-in-out 2s alternate infinite;
}
@keyframes logoLoop {
  0% {
    rotate: 4deg;
  }
  100% {
    rotate: -4deg;
  }
}

#bg-overlay {
  transition: all 0.3s ease;
}

.exiting {
  scale: 2 !important;
  opacity: 0 !important;
  transition: all 1s cubic-bezier(.58, -1.06, 0, 1.04);
}

btn.exiting {
  scale: 0 !important;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(1, -0.09, .23, 1.32);
}

#buttons-container>btn {
  padding: 10px;
  height: fit-content;
  font-size: 30px;
  margin-top: 15px;
}

#buttons-container {
  margin-top: calc(50vh + 50px);
}

@keyframes noteDemonstration {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  30% {
    opacity: 0.5;
  }
  60% {
    filter: blur(0px);
    scale: 1;
  }
  63% {
    transform: translateY(-30px);
    opacity: 1;
    scale: 2 1;
    filter: blur(12px);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    filter: blur(12px);
    opacity: 0;
  }
}

@keyframes noteDemonstrationFlick {
  0% {
    opacity: 0;
    transform: translateY(150px) translateX(0px);
  }
  30% {
    opacity: 0.5;
  }
  60% {
    filter: blur(0px);
    scale: 1;
    transform: translateX(0px);
  }
  63% {
    transform: translateY(-30px) translateX(60px);
    opacity: 1;
    filter: blur(12px);
  }
  70% {
    transform: translateY(10px) translateX(90px);
    opacity: 1;
  }
  100% {
    transform: translateY(10px) translateX(90px);
    filter: blur(12px);
    opacity: 0;
  }
}

@keyframes noteDemonstrationStick {
  0% {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  45% {
    transform: translate(0px, 0px);
  }
  55% {
    transform: translate(15px, -25.98px);
  }
  89% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translate(15px, -25.98px);
    opacity: 0;
  }
}

@keyframes stickDemonstrationFlick {
  0% {
    transform: translate(0px, 0px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  45% {
    transform: translate(0px, 0px);
  }
  55% {
    transform: translate(15px, -25.98px);
  }
  65% {
    transform: translate(19.28px, 22.98px);
  }
  89% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translate(19.28px, 22.98px);
    opacity: 0;
  }
}

@keyframes noteDemonstrationTrigger {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.7;
  }
  54% {
    scale: 1;
  }
  60% {
    scale: 0.6;
  }
  67% {
    scale: 0.7;
  }
  89% {
    opacity: 0.7;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    scale: 0.7;
  }
}


@keyframes flickDemonstrationTrigger {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.7;
  }
  54% {
    scale: 1;
  }
  60% {
    scale: 0.6;
  }
  67% {
    scale: 0.7;
  }
  70% {
    scale: 0.7;
  }
  80% {
    scale: 0.7;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    scale: 1;
  }
}


@keyframes holdDemonstration {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  30% {
    opacity: 0.5;
  }
  40% {
    filter: blur(0px);
    scale: 1;
  }
  50% {
    opacity: 0.5;
  }
  55% {
    opacity: 1;
  }
  85% {
    transform: translateY(-70px);
    opacity: 1;
  }
  100% {
    transform: translateY(-70px);
    opacity: 0;
  }
}


@keyframes holdDemonstrationTrigger {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.7;
  }
  45% {
    scale: 1;
  }
  55% {
    scale: 0.7;
  }
  83% {
    opacity: 0.7;
    scale: 0.7;
  }
  90% {
    scale: 1;
  }
  95% {
    opacity: 0;
    scale: 1;
  }
  100% {
    opacity: 0;
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-size: cover;
  background-position: center;
  display: block;
  opacity: 0.5;
}

.popover > btn > span {
  font-size: 13px;
  opacity: 0.5;
}

.popover {
  transition: all 0.2s ease;
}