body {
  /* animation: bgmodify 22s linear infinite; */
  background-color: black;
  background-repeat: none !important;
  background-image: url('../Assets/bg.png');
}

@keyframes bgmodify {
  0% {
    background-image: url('../Assets/bg.png');
  }

  50% {
    background-image: url('../Assets/bg2.png');
  }

  100% {
    background-image: url('../Assets/bg.png');
  }
}

:root {
  --raw-size: 740px;
  --frame-tolerance: 0px;
  /* --real-size: 400px; */
  /* --real-size: 410px; this is what youre looking for */
  --outer-container-note-distance: -50px;
  /* So that the notes start at the edge */
  --inner-container-size: 200px;
  /* --inner-container-note-distance: -40px; */
  --gap: 0px;
  /* --gap: 270px; */
  --preview-delay: 750ms;
  --distance-between-sizes: 190px;
  --offset-for-distance-between-sizes: -10px;
  --slider-hold-offset: 85px;
  /* JUDGEMENT OFFSET */
  --note-radius: 110px;
  --notePreviewDelay: 1650ms;
  view-transition-name: root;

  --short: 100ms;
  --long: 200ms;
  --longer: 300ms;

  --perfect: #C9FFCF;
  --great: #D6FFC9;
  --okay: #E2CF63;
  --bad: #FFB272;
  --miss: #FD7575;
  
  --controller-display-state: none;
}

.line {
  width: 800px;
  height: 90px;
  border-bottom: 10px black solid;
  background: white;
}

.note {
  width: 150px;
  height: 150px;
  background: url('../quad_arc.svg');
  background-size: cover;
  margin-bottom: -150px;
  rotate: 0deg;
  /* transition: all cubic-bezier(.21,.81,.33,1.48) var(--long); */
}

.note_child {
  width: 20px;
  margin: auto;
  text-align: center;
  height: 20px;
}

@keyframes move {
  0% {
    left: 0px;
  }

  100% {
    left: 800px;
  }
}

@keyframes in {
  0% {
    scale: 2;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.indicator {
  width: 10px;
  position: absolute;
  margin-left: 0px;
  height: 190px;
  animation: linear move var(--this-duration);
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

btext {
  transition: color 0.4s ease;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.bpmMarker {
  border-radius: 100%;
  width: 10px;
  height: 90px;
  background: #ff0000;

  margin-left: var(--bpm-margin);
  margin-right: var(--bpm-margin);
}


body {
  font-family:
    "Arial",
    Arial,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif,
    sans-serif !important;
  overflow: hidden;
  cursor: default;
  user-select: none;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
  color: #ffffff90;
  font-size: 18px;
}

.animated_in {
  animation: animate_in cubic-bezier(.17, .67, .13, 1.35);
  scale: 1.5;
}

.preview_note {
  animation: preview_note linear var(--long) infinite;
  opacity: 0.5;
}

@keyframes preview_note {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: 2deg;
  }

  75% {
    rotate: -2deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes animate_in {
  0% {
    scale: 3;
    opacity: 0;
  }

  100% {
    scale: 1.5;
    opacity: 1;
  }
}

.arc {
  width: var(--raw-size);
  aspect-ratio: 1;
  position: absolute;
  border-radius: 100%;
  /* animation: note_in_classic linear 2s; */
  /* margin-top: -10px; */
  transition: opacity 0.4s ease;
  /* opacity: 0.1; */
  border: solid 0px white inset;
  /* border-bottom: 22px white solid; */
  background: url(../note.svg);
  background-repeat: no-repeat;
  background-size: cover;
  rotate: var(--r);
}

.held {
  box-shadow: yellow 0px -10px 1px 0px inset;
  animation: held 500ms ease;
  opacity: 0;
  background-image: none !important;
}

.flicked_p {
  /* scale: 2 0.1; */
  transition: all 0.45s ease !important;
  /* filter: blur(12px);
  rotate: 90deg;
  opacity: 0; */
}

.flicked {
  scale: 2 0.1;
  transition: all 0.30s ease !important;
  filter: blur(12px);
  opacity: 0;
}

.flick1 {
  background: url('../Assets/Headers/Flick\ Base\ Positive.svg') !important;
}

.flick2 {
  background: url('../Assets/Headers/Flick\ Base\ Negative.svg') !important;
}

.flick_large_starter {
  background: url('../Assets/Headers/Large\ Flick\ Starter.svg') !important;
}

@keyframes held {
  0% {
    scale: 1.1;
    opacity: 0;
  }

  35% {
    opacity: 1;
    scale: 1;
  }

  60% {
    scale: 1;
  }

  100% {
    opacity: 0;
    scale: 1;
  }
}

@keyframes note_in_classic {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.done {
  opacity: 0;
  transition: all var(--long) ease !important;
  animation: none !important;
}

.lane {
  height: var(--raw-size);
  width: var(--note-radius);
  margin-left: calc((var(--raw-size) / 2) - var(--note-radius) / 2);
  /* margin-top: var(--s); */
  /* padding: calc(var(--nr) / 2 * -1); */
  /* background: blue !important; */
  margin-right: auto;
  position: absolute;
  opacity: 1;
  overflow: hidden;
  pointer-events: none;
}

.item:hover {
  scale: 1.2 !important;
}

.from_slider {
  background-image: url('Assets/Headers/Slider\ Flick.svg') !important;
}


.item {
  width: var(--note-radius);
  height: var(--note-radius);
  margin-top: calc((((var(--real-size) - var(--note-radius)) / 2) + var(--gap)));
  background: url('../Assets/Headers/Note.svg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  z-index: 500;
  pointer-events: auto;
  position: relative;
  /* animation: note_in_classic 100ms ease; */
}

.holdable {
  background: url('../Assets/Headers/Note\ Holdable.svg');
}



.flick1,
.flick2 {
  border-radius: 0px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

/* Left arrow border */

.flick1>.flick_arrows {
  background: url('../Assets/Headers/Flick\ Positive.svg');
  --direction: -10px;
}

.flick2>.flick_arrows {
  background: url('../Assets/Headers/Flick\ Negative.svg');
  --direction: 10px;
}

.flick2>.flick_arrows,
.flick1>.flick_arrows {
  height: var(--note-radius);
  width: var(--note-radius);
  background-size: cover !important;
  background-repeat: repeat !important;
  animation: flick_hint calc(var(--preview-delay) / 2) ease-in-out infinite;
  transform-origin: top;
}

@keyframes flick_hint {
  0% {
    translate: calc(var(--direction) * -1) 0px;
    opacity: 0;
  }

  25% {
    translate: calc(var(--direction) * -0.5) 0px;
    opacity: 1;
  }

  50% {
    translate: 0px 0px;
    opacity: 1;
  }

  100% {
    translate: var(--direction) 0px;
    opacity: 0;
  }
}

@keyframes note_in_classic {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.header {
  width: var(--note-radius);
  height: calc(var(--note-radius) / 2);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  shape-rendering: geometricPrecision;
}

.flick_arrows {
  width: var(--note-radius);
  height: var(--note-radius);
}

.header.end {
  background: url('../Assets/Headers/Bottom.svg');
  transform-origin: top;
  translate: 0px -0.3px;
}

.header.start {
  background: url('../Assets/Headers/Top.svg');
  margin-top: auto;
  transform-origin: bottom;
  translate: 0px 0.3px;
}

.header.midframe {
  background: url(../Assets/Headers/Frame.svg);
  height: calc(var(--sliderHeight));
  background-size: var(--note-radius) var(--note-radius) !important;
  background-repeat: repeat-y !important;
}

.header:nth-of-type(1) {
  margin-right: 0px;
}

#cursor {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.previewer {
  --bg: rgba(0, 0, 0, 0.5);
  clip: polygon(50% 50%,
      /* center of hex */
      50% 0%,
      /* top point */
      93% 25%
      /* top-right point */
    );
  shape-rendering: geometricPrecision;
  background: url('../Assets/Playfield/segment\ even.svg');
  /* background: linear-gradient(0deg, #142b5270, #420d7470); */
  rotate: calc((var(--i) * 60deg));
  width: var(--raw-size);
  scale: 0.95;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 100%;
  animation-play-state: running;
  /* pointer-events: none; */
  opacity: 1;
  transition: all var(--short) ease;
}

.previewer:nth-of-type(1),
.previewer:nth-of-type(3),
.previewer:nth-of-type(5),
.previewer:nth-of-type(7) {
  background: url('../Assets/Playfield/segment even.svg');
  rotate: calc((var(--i) * 60deg) + 60deg);
}

.previewer.selected {
  opacity: 1;
  scale: 1.05;
  --bg: #f5b64260;
  /* transform: translateY(-12px) translateX(5px); */
}

.previewer_parent:nth-of-type(3)>.previewer,
.previewer_parent:nth-of-type(5)>.previewer,
.previewer_parent:nth-of-type(7)>.previewer,
.previewer_parent:nth-of-type(9)>.previewer {
  opacity: 0.8;
}


@view-transition {
  navigation: auto !important;
}


::view-transition-group(root) {
  animation-duration: 0.5s;
}


@keyframes move-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes move-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Apply the custom animation to the old and new page states */

::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
}

@font-face {
  font-family: 'Moderno';
  src: url('../Assets/Typography/days.ttf');
}

@font-face {
  font-family: 'Mono';
  src: url('../Assets/Typography/susemono.ttf');
}

@font-face {
  font-family: 'Modern';
  src: url('../Assets/Typography/saira.ttf');
}

.m {
  font-family: 'Moderno' !important;
}


btext {
  transition: color 0.4s ease;
  font-size: 18px;
}

btextm {
  font-family: 'Moderno';
  font-size: 24px;
  color: #ffffff;
}

.big {
  font-size: 32px;
}

.small {
  font-size: 18px;
  opacity: 0.5;
}


.image {
  margin: auto;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-clip: content-box !important;
  background-position: center !important;
  transition: all var(--longer) ease;
  text-align: center;
}

btn {
  background: #FFFFFF30;
  transition: all ease .07s;
  position: initial;
  width: auto;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  box-shadow: inset 0 0 2px #ffffff10;
  display: block;
  backdrop-filter: blur(12px);
}

btn:has(.image) {
  padding-left: 5px;
  padding-right: 5px;
}

btn:hover {
  background: #FFFFFF50;
}

btn:active {
  background: #FFFFFF20;
}

.comeIn {
  animation: come-in var(--long) ease;
}

@keyframes come-in {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.noteContainer {
  width: 100%;
  height: calc(50% - (var(--note-radius) / 2));
  overflow: hidden;
  /* scale: 1 -1; */
  /* transform: translateY(calc(-100% - (var(--note-radius) / 2))); */
  transform: translateY(calc(100% + (var(--note-radius) / 2)));
  transition: all var(--long) ease;
}

.noteContainer.actively_pressed_in {
  /* mask the top var(--slider-hold-offset) px */
  /* mask-image: linear-gradient(to bottom, black calc(100% - var(--slider-hold-offset)), transparent 0); */
  mask-image: linear-gradient(to bottom, transparent 0, black calc(100% - var(--slider-hold-offset)));
}

.slider {
  background: none !important;
}

.center {
  --size: calc(var(--note-radius));
  width: var(--size);
  aspect-ratio: 1;
  border-radius: var(--size);
  z-index: 500;
  background: #000000;
  position: absolute;
  translate: calc(var(--raw-size) / 2 - var(--size) / 2) calc(var(--raw-size) / 2 - var(--size) / 2);
}

#comboDisplay {
  font-size: 35px;
  color: #ffffff;
  margin: auto;
  display: block;
  align-self: center;
  justify-self: center;
  text-align: center;
  animation: combo var(--long) ease;
  font-family: 'Mono';
  font-weight: 500;
  margin-top: -6px;
}

#comboText {
  font-family: 'Modern';
  font-weight: 100;
}

@keyframes combo {
  0% {
    scale: 0.7;
    opacity: 0.8;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.hitIndicator {
  --bg: #000000;
  background:
    conic-gradient(var(--bg) 0deg, var(--bg) 60deg, #00000000 60deg);
  width: var(--raw-size);
  aspect-ratio: 1;
  position: absolute;
  border-radius: 100%;
  /* pointer-events: none; */
  opacity: 0.5;
  transition: scale var(--short) ease;
}

.effects_containment {
  width: 100%;
  height: 100%;
  --rotation: 90deg;
  /* Changed from 67.5 to 90 for 6 segments (360/6 = 60, plus half = 90) */
  position: absolute;
  inset: 0;
  border-radius: 100%;
  pointer-events: none;
  mask-image: conic-gradient(from var(--rotation) at 50% 50%, var(--bg) 0deg, var(--bg) 60deg, transparent 60deg);
  z-index: 1;
  background-size: var(--raw-size);
  background-position: 600px 600px;
  rotate: calc(var(--rotation) * -1);
  transition: all var(--long) ease;
  opacity: 1;
  /* animation: glow 2s linear; */
  /* background: linear-gradient(270deg, #FFFFFF, #FFFFFF30, #FFFFFF00); */
}



.previewer:has(.effect)::after::after {
  content: "";
  border-radius: 100%;
  --rotation: 90deg;
  /* define the variable here */
  rotate: -90deg;
  filter: blur(50px);
  mask-image: conic-gradient(from var(--rotation) at 50% 50%, var(--bg) 0deg, var(--bg) 60deg, transparent 60deg);
  mask-composite: exclude;
  height: var(--raw-size);
  display: block;
  width: var(--raw-size);
  background: blue;
  z-index: 5000;
  position: absolute;
}

.previewer::after {
  content: "";
  transition: all 0.15s cubic-bezier(0, .93, .68, 1.03);
  --rotation: 90deg;
  mask-image: conic-gradient(from var(--rotation) at 50% 50%, var(--bg) 0deg, var(--bg) 60deg, transparent 60deg) !important;
  scale: 1.2;
  opacity: 0;
  rotate: -90deg;
  width: var(--raw-size);
  height: var(--raw-size);
  display: block;
  border-radius: 50px;
}

.previewer:has(.effect)::after {
  filter: blur(50px);
  scale: 1;
  opacity: 1;
  border-radius: var(--raw-size);
}

.effect {
  /* background-color: #591f68; */
  /* animation: glow 2s linear infinite; */
  opacity: 0.5 !important;
}

@keyframes glow {
  0% {
    opacity: 0;
    background-position: 600px 600px;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    background-position: 0px 0px;
  }
}

.laneParent {
  width: var(--raw-size);
  height: var(--raw-size);
  position: absolute;
}

.previewer_parent {
  position: absolute;
  scale: 1;
  width: var(--raw-size);
  height: var(--raw-size);
}

.frame {
  --frame-size: calc(var(--inner-container-size) + var(--frame-tolerance));
  width: var(--frame-size);
  height: var(--frame-size);
  background: url(../Assets/Playfield/frame.svg);
  background-size: cover;
  margin-left: calc((var(--raw-size) - var(--frame-size)) / 2);
  margin-top: calc((var(--raw-size) - var(--frame-size)) / 2);
  position: absolute;
}

.frame .indicator_parent {
  width: var(--raw-size);
  height: var(--raw-size);
  position: absolute !important;
  display: none;
}

.indicator_parent>.header.end {
  rotate: 135deg;
  height: var(--note-radius);
  background-size: contain !important;
  background-repeat: no-repeat !important;

  --distance: calc(((var(--raw-size) - var(--real-size)) / 2) - (var(--distance-between-sizes) / 2));

  translate: var(--distance) var(--distance);
}

.indicator_parent>.header.from_aura {
  height: var(--note-radius);
  background-size: contain !important;
  background-repeat: no-repeat !important;
  margin-left: auto;
  margin-right: auto;

  --distance: 315px;

  /* translate: 0px var(--distance); */
  translate: 0px 492%;
  rotate: 0deg !important;
}

.indicator_parent>.header.from_aura::after {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  content: '';
  scale: 1.2;

  --blurAmount: 50px;

  animation: flickeryGlow var(--long) ease infinite;
  background: white;
  border-radius: 100%;
}

.from_note {
  animation: flickeryGlowOnce var(--long) ease;
  opacity: 0;
}


.indicator_parent.sfx {
  height: var(--real-size);
  width: var(--real-size);
  margin-left: calc((var(--raw-size) - var(--real-size)) / 2);
  margin-top: calc((var(--raw-size) - var(--real-size)) / 2);
  position: absolute !important;
}

.indicator {
  border: solid white 10px;
  margin: auto;
  transition: all var(--long) ease;
  --distance: 315px;

  translate: 0px var(--distance);
}

.aura {
  animation: aura 0.5s ease;
}

@keyframes aura {
  0% {
    scale: 1;
    border-radius: 100%;
    opacity: 0.5;
    filter: blur(0px);
    translate: 0px 0px;
  }

  100% {
    /* border-radius: 0px; */
    /* rotate: 360deg; */
    opacity: 0;
    translate: 0px calc(var(--real-size) / -2);
    filter: blur(12px);
    scale: 0.5;
  }
}

.sfx_sparkles_1 {
  width: var(--note-radius);
  height: var(--note-radius);
  background: url('../Assets/SFX/Sparkles\ Layer\ 1.svg');
  background-size: cover;
  translate: calc(var(--real-size) / 2 - (var(--note-radius) / 2)) calc(var(--real-size)) !important;
  animation: sparkles 0.5s ease !important;
  border: none !important;
  box-shadow: none !important;
  --target-distance: -40px;
  scale: -1;
  opacity: 0;

  --target-blur: 0px;
}

.sfx_sparkles_2 {
  width: var(--note-radius);
  height: var(--note-radius);
  background: url('../Assets/SFX/Sparkles\ Layer\ 2.svg');
  background-size: cover;
  translate: calc(var(--real-size) / 2 - (var(--note-radius) / 2)) calc(var(--real-size)) !important;
  animation: sparkles 0.4s ease !important;
  border: none !important;
  box-shadow: none !important;
  --target-distance: -50px;
  --target-blur: 0px;
  scale: -1;
  opacity: 0;
}


.sfx_particle_hold_1,
.sfx_particle_hold_2,
.sfx_particle_1,
.sfx_particle_2 {
  width: calc(var(--note-radius) * 2);
  height: calc(var(--note-radius) * 2);
  scale: 0;
  opacity: 1;
  border: 15px solid #ffffff;
  box-shadow: 0px 0px 10px 10px #ffffff50 inset, 0px 0px 10px 10px #ffffff50;
  /* animation: hit 0.3s linear, rotate 0.45s ease;
  translate: 0px 315px; */
  /* translate: 64% 100%; */
  translate: 64% 190%;
}

.sfx_particle_hold_2 {
  /* animation: hit 0.5s linear, rotate2 0.7s ease; */
}

.aura.golden {
  animation: golden_effect 0.5s ease;
  background: gold !important;
  border-radius: 0px !important;
  width: calc(var(--note-radius) * 4);
}

.lane:has(.aura.golden) {
  margin-left: 0px;
  width: 100%;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  opacity: 0.4;
  filter: blur(12px);
  mask: conic-gradient(white 0deg, white 60deg, transparent 60deg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.aura.golden>.header {
  display: none;
}

@keyframes golden_effect {
  0% {
    translate: 0px 0px;
    width: calc(var(--note-radius) * 2);
    height: calc(var(--note-radius) / 2);
  }

  100% {
    /* opacity: 0; */
    translate: 0px calc(var(--real-size) / -2);
    height: var(--note-radius);
    margin-left: calc(var(--note-radius) / 2);
    width: var(--note-radius);
    margin-left: calc(var(--note-radius));
    width: 0;
  }
}

.sfx_particle_1 {
  scale: 0.5;
  opacity: 0.5;
  animation: hit_in 0.3s ease, rotate2 0.7s linear infinite;
}

.sfx_particle_2 {
  scale: 0.5;
  opacity: 0.5;
  animation: hit_in 0.4s ease, rotate 0.4s linear infinite;
}

@keyframes hit_in {
  0% {
    scale: 0.2;
    opacity: 0;
  }

  50% {
    scale: 0.5;
    opacity: 0.5;
  }
}

@keyframes hit {
  0% {
    scale: 0.6;
    opacity: 0;
  }

  10% {
    opacity: 0.5;
  }

  13% {
    opacity: 0.3;
  }

  16% {
    opacity: 0.5;
  }

  19% {
    opacity: 0.8;
  }

  20% {
    scale: 0.7;
  }

  23% {
    opacity: 0.3;
  }

  27% {
    opacity: 0.8;
  }

  34% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.5;
  }

  46% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.8;
  }

  55% {
    opacity: 0.2;
  }

  60% {
    opacity: 0.8;
  }

  66% {
    opacity: 0.1;
  }

  70% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.2;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    scale: 0.3;
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
    scale: 0.5;
  }

  50% {
    scale: 0.6;
  }

  100% {
    scale: 0.5;
    rotate: 90deg;
  }
}

@keyframes rotate2 {
  0% {
    rotate: -45deg;
    scale: 0.5;
  }

  50% {
    scale: 0.4;
  }

  100% {
    rotate: -135deg;
    scale: 0.5;
  }
}

@keyframes hold {
  0% {
    width: calc(var(--note-radius) * 2);
    height: calc(var(--note-radius) * 2);
    filter: blur(0px);
  }

  50% {
    width: calc(var(--note-radius) * 1.8);
    height: calc(var(--note-radius) * 1.8);
    filter: blur(12px);
  }

  100% {
    width: calc(var(--note-radius) * 2);
    height: calc(var(--note-radius) * 2);
    filter: blur(0px);
  }
}

::-webkit-scrollbar {
  display: none;
}

.golden {
  background-image: url('../Assets/Headers/Note\ Golden.svg') !important;
}

.from_aura {
  background: url('../Assets/Headers/Header.svg') !important;
}

.holdable_start {
  background: url('../Assets/Headers/Top\ Holdable.svg') !important;
  margin-top: auto;
}

.holdable_end {
  background: url('../Assets/Headers/Bottom\ Holdable.svg') !important;
}

.holdable_end,
.holdable_start {
  background-size: cover !important;
}

.separator {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #FFFFFF40;
  margin-bottom: 5px;
}

a {
  color: #FFFFFF !important;
  cursor: default !important;
}

.flickable_away {
  background-image: url('../Assets/Headers/Top\ Flickable.svg') !important;
  shape-rendering: geometricPrecision;
}

.holdable_flick {
  background: none !important;
}



#noteContainer {
  /* scale: 1.2; */
  opacity: 1 !important;
  width: var(--raw-size);
  height: var(--raw-size);
  transition: all var(--long) ease;
}

#noteContainerFrame {
  width: var(--raw-size);
  height: var(--raw-size);

  background: url('../Assets/Playfield/frame.svg');
  background-size: cover !important;
  position: fixed;
  transition: all var(--long) ease;

  /* animation: hit 0.5s ease; */
}

@keyframes hit {
  0% {
    scale: 1;
    opacity: 0.8;
  }

  50% {
    scale: 1.2;
    filter: blur(12px);
    opacity: 1;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

#centerContainer {
  background: url('../Assets/Playfield/frame_in.svg');
  background-size: cover !important;
}

.is_being_held>.header.midframe::after {
  width: 100%;
  height: 100%;
  --blurAmount: 10px;
  content: '';
  position: relative;
  display: block;
  top: 0;
  left: 0;
  background: url('../Assets/Headers/Frame.svg');
  background-size: var(--note-radius) var(--note-radius) !important;
  background-repeat: repeat-y !important;
  animation: flickeryGlow 0.3s cubic-bezier(.05, 1.34, 1, 0) infinite;
}

@keyframes flickeryGlow {
  0% {
    opacity: 1;
    filter: blur(var(--blurAmount));
  }

  50% {
    opacity: 0.5;
    filter: blur(calc(var(--blurAmount) * 0.5));
  }

  100% {
    opacity: 1;
    filter: blur(var(--blurAmount));
  }
}


@keyframes flickeryGlowOnce {
  0% {
    opacity: 0.5;
    filter: blur(var(--blurAmount));
  }

  50% {
    opacity: 0.5;
    filter: blur(calc(var(--blurAmount) * 0.5));
  }
}

.sfx_sparkles1,
.sfx_sparkles2 {
  width: calc(var(--note-radius) * 2);
  height: calc(var(--note-radius) * 2);
  border: none !important;
  box-shadow: none !important;
  background-size: cover;
}

.reversed_sparkles {
  --target-distance: 30px;
  --target-blur: 0px;
}

.reversed_sparkles_2 {
  --target-distance: 40px;
  --target-blur: 0px;
}

@keyframes sparkles {
  0% {
    margin-top: 0px;
    filter: blur(0px);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    margin-top: var(--target-distance);
    filter: blur(var(--target-blur));
  }
}

.traceable {
  width: 100%;
  height: 100%;
  background-size: cover;
  scale: 1;
}


.trace-parent {
  width: var(--raw-size);
  height: var(--raw-size);
  position: absolute;
  animation: fade-in 0.5s ease;
  opacity: 0.7;
  scale: -1;
}

.trace-negative {
  scale: 1 -1;
}

.trace-2 {
  /* --progression: 0; */
  background: url('../Assets/Headers/Short\ Flick\ Straight.svg') no-repeat;
  /* clip-path: inset(calc(var(--progression) * 100%) 0 0 0); */
  height: calc(var(--progression) * 100%);
  will-change: height;
  /* mask: linear-gradient(to to p, black calc(var(--progression) * 1%), transparent 0%) no-repeat cover; */
}
.trace-3 {
  /* --progression: 0; */
  background: url('../Assets/Headers/Long\ Flick\ Straight.svg') no-repeat;
  /* clip-path: inset(calc(var(--progression) * 100%) 0 0 0); */
  height: calc(var(--progression) * 100%);
  will-change: height;
  /* mask: linear-gradient(to to p, black calc(var(--progression) * 1%), transparent 0%) no-repeat cover; */
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#overlay {
  width: 100vw;
  height: 100vh;
  display: block;
  backdrop-filter: blur(100px);
  background: #000000b4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  transition: all var(--longer) ease;
}
@keyframes overlayKickIn {
  0% {
    background: #000000;
  }
  100% {
    background: #000000b4;
  }
}

/* 
a {
  z-index: 10000;
  position: relative;
}

.quickLink {
  display: inline-block;
} */

#perfectionIndicator {
  margin: auto;
  width: 300px;
  height: 80px;
  background-size: cover;
  background-repeat: none;
  animation: show_scoring 0.25s ease;
  animation-fill-mode: forwards;
}

@keyframes show_scoring {
  0% {
    opacity: 0.5;
    scale: 0.8;
  }

  25% {
    opacity: 1;
    scale: 1;
  }

  85% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0;
    scale: 0.8;
  }
}


#cursor {
  background: url('../Assets/Playfield/cursor.svg');
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
}

#cursor::before {
  content: "";
  background: url('../Assets/Playfield/cursor.svg');
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50px;
  height: 50px;
  filter: blur(50px);
}

.cursor {
  width: var(--raw-size);
  height: var(--raw-size);
  position: absolute;
  scale: 1.1;
}

#controls {
  padding: 20px;
  position: absolute;
  width: calc(100% - 40px);
  z-index: 1000;
  height: 0px;
  transition: all var(--longer) ease;
}


.pause {
  background-image: url('../Assets/Playfield/pause.svg');
}
.play {
  background-image: url('../Assets/Playfield/play.svg');
}
.reset {
  background-image: url('../Assets/Playfield/reset.svg');
}
.back {
  background-image: url('../Assets/Playfield/back.svg');
}

#pauseButton {
  margin-right: 10px;
}

#scoreText {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 20px;
  text-shadow: #FFFFFF30 0px 0px 6px;
  opacity: 0.5;
  font-family: 'Mono';
}

btn:has(.pause) {
  box-shadow: #FFFFFF10 0px 0px 5px 4px;
}

#scoreNumber {
  background: #FFFFFF10;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  margin: auto;
  margin-top: 2px;
  margin-left: 0px;
  font-size: 25px;
  font-family: 'Mono';
}

#scoreNumber>#unusedScoreNumbers {
  opacity: 0.5;
}

#songName {
  margin: auto 0px;
  margin-right: 5px;
  font-family: 'Modern';
  font-size: 26px;
  font-weight: 500;
  line-height: 29px;
}

#songArtist {
  opacity: 0.5;
  font-family: 'Modern';
  margin-left: 0px;
  margin-right: 0px;
  font-size: 18px;
  margin-top: -7px;
  font-weight: 100;
}

#topLevelContainer {
  margin-left: calc(50vw - var(--raw-size) / 2);
  margin-top: calc(50vh - var(--raw-size) / 2);
  transition: all var(--long) ease;
}

#songData {
  margin-right: 25px;
  transform-origin: top right;
  transition: all var(--long) ease;
}

.end_controls > #songData > #songArt {
  width: 380px;
  height: 380px;
}

#songArt {
  opacity: 0;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin-right: auto;
  margin-left: 0px;
  background-size: cover;
  scale: 0.8;
  filter: blur(12px);
  transform-origin: top left;
}

#songArt.viewing {
  opacity: 1 !important;
  scale: 1 !important;
  filter: blur(0px) !important;
}

.easy {
  --diff-color: #00FF0030;
  --border-color: #00FF00;
}

.normal {
  --diff-color: #FFA50030;
  --border-color: #FFA500;
}

.hard {
  --diff-color: #FF000030;
  --border-color: #FF0000;
}


.difficulty-dot {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background: var(--diff-color);
  font-size: 20px;
  padding: 5px;
  font-family: 'Moderno';
}

.wideDot {
  width: fit-content;
  aspect-ratio: unset;
  height: fit-content;
  font-family: 'Modern';
  line-height: 10px;
  font-size: 10px;
  margin: 0px;
  margin-bottom: 5px;
  margin-top: auto;
  margin-left: 0px;
  border-radius: 20px;
  padding: 3px 6px 3px 6px;
}

difficulty {
  margin: auto;
  display: block;
  width: fit-content;
  height: fit-content;
}

.hiddenButton {
  scale: 0 !important;
  opacity: 0 !important;
  margin-top: 0px;
}

#backButton, #restartButton {
  margin-top: 10px;
  scale: 1;
  opacity: 1;
  transition: background var(--short), scale var(--longer), opacity var(--short) !important;
}


.end_controls {
  margin-top: 0px;
  height: 100vh;
}

.end_scoreNumber {
  margin-top: 10px;
}

#scoreStats {
  margin-top: 30px;
}
.scoreIndicator {
  font-family: 'Modern';
  font-size: 30px;
  line-height: 33px;
  color: #FFFFFF;
}
.scoreIndicator > span {
  display: inline-block;
  width: 230px;
  font-weight: 1000;
}
.scoreIndicator > span:nth-of-type(2) {
  width: fit-content;
  font-size: 16px !important;
  color: #FFFFFF50 !important;
  font-weight: 300;
  text-shadow: #FFFFFF20 0px 0px 15px !important;
}

.scoreIndicator.perfect > span {
  color: var(--perfect);
  text-shadow: #FFFFFF90 0px 0px 15px;
}
.scoreIndicator.great > span {
  color: var(--great);
  text-shadow: #FFFFFF30 0px 0px 5px;
}
.scoreIndicator.okay > span {
  color: var(--okay);
  text-shadow: #FFFFFF30 0px 0px 5px;
}
.scoreIndicator.bad > span {
  color: var(--bad);
  text-shadow: #FFFFFF30 0px 0px 5px;
}
.scoreIndicator.miss > span {
  color: var(--miss);
  text-shadow: #FFFFFF30 0px 0px 5px;
}


#grade > btextm {
  font-size: 200px;
  width: 200px;
  height: 200px;
  margin: auto;
  line-height: 200px;
  padding: 30px;
  display: block;
  text-align: center;
  border-width: 0px;
  margin-top: 20px;
  border-style: solid;
  color: #000000;
  /* box-shadow: #FFFFFF20 0px 0px 10px 5px; */
  border-radius: 100%;
  transition: all var(--long) ease;
  margin-bottom: calc(100vh - 610px);
  text-shadow: #FFFFFF90 0px 0px 10px;
}

#grade > btext {
  font-family: 'Mono';
  position: fixed;
  margin-top: 300px;
  width: 340px;
  text-align: right;
}

#grade > btext > span {
  font-weight: 800;
}

#grade:has(btextm) {
  width: 100% !important;
}

#songProcedureControls {
  margin-left: auto !important;
}

#songProcedureControls > btn {
  text-align: center;
  font-family: 'Moderno';
  padding: 10px;
}

#songProcedureControls > btn:nth-child(1) {
  margin-bottom: 20px;
  width: 360px;
  font-size: 20px;
  /* margin-top: calc(100vh - 200px) !important; */
  margin-top: calc(100vh - 580px);
}

#songProcedureControls > btn:nth-child(2) {
  width: 360px;
  font-size: 25px;
  animation: procedureButtonCue infinite 2s ease;
}

@keyframes procedureButtonCue {
  0% {
    box-shadow: #FFFFFF30 0px 0px 10px 5px;
  }
  50% {
    box-shadow: #FFFFFF10 0px 0px 0px 5px;
  }
  100% {
    box-shadow: #FFFFFF30 0px 0px 10px 5px;
  }
}

.end_gradeParent {
  padding: 10px;
  border-radius: 10px;
  background-color: #FFFFFF10;
  padding-left: 18px;
  margin-left: -8px;
  margin-right: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#controls:has(.end_gradeParent) {
  padding: 0px !important;
}

.end_controls > #songData {
  margin-top: 10px;
  margin-right: -20px;
}



input {
  border: none !important;
  outline: none !important;
  font-size: 20px;
  border-radius: 3px;
  padding: 6px;
  background-color: #00000070;
  color: #FFFFFF;
}
::selection {
  background: #000000;
  color: #FFFFFF;
}

.dark-btn {
  background: #00000050;
}

.dark-btn:hover {
  background: #00000090;
}

.dark-btn:active {
  background: #00000030;
}

select {
  outline: none !important;
  width: 100%;
  display: block;
  font-size: 20px;
}


.controller_selectable.selected {
  outline: 3px solid #FFFFFF50;
  box-shadow: 0px 0px 10px 10px #FFFFFF50;;
  border-radius: 6px;
}

.visible_only_with_controller::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url('../Assets/bg.png');
  display: var(--controller-display-state);
  margin: auto;
}

.popover {
  width: 900px;
  border-radius: 5px;
  height:fit-content;
  padding: 10px;
  margin-left: auto; margin-right: auto;
  background: #00000050;
  backdrop-filter: blur(10px);
  position: relative;
  display: block;
  margin-top: calc(-50vh - 100px)
}