body {
  /* animation: bgmodify 22s linear infinite; */
  background-color: black;
  background-repeat: none !important;
  background-image: url('../Assets/bg.png');
  overflow: hidden !important;
  width: 100vw;
  height: 100vh;
}

@keyframes bgmodify {
  0% {
    background-image: url('../Assets/bg.png');
  }

  50% {
    background-image: url('../Assets/bg2.png');
  }

  100% {
    background-image: url('../Assets/bg.png');
  }
}

:root {
  --raw-size: 740px;
  --frame-tolerance: 0px;
  /* --real-size: 400px; */
  /* --real-size: 410px; this is what youre looking for */
  --outer-container-note-distance: -50px;
  /* So that the notes start at the edge */
  --inner-container-size: 200px;
  /* --inner-container-note-distance: -40px; */
  --gap: 0px;
  /* --gap: 270px; */
  --preview-delay: 750ms;
  --distance-between-sizes: 190px;
  --offset-for-distance-between-sizes: -10px;
  --slider-hold-offset: 85px;
  /* JUDGEMENT OFFSET */
  --note-radius: 110px;
  --notePreviewDelay: 1650ms;
  view-transition-name: root;

  --short: 100ms;
  --long: 200ms;
  --longer: 300ms;

  --perfect: #C9FFCF;
  --great: #D6FFC9;
  --okay: #E2CF63;
  --bad: #FFB272;
  --miss: #FD7575;

  --controller-display-state: none;
}



.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

btext {
  transition: color 0.4s ease;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}



html {
  font-family:
    "Arial",
    Arial,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif,
    sans-serif !important;
  overflow: hidden;
  cursor: default;
  user-select: none;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
  color: #ffffff80;
  font-size: 18px;
}


@view-transition {
  navigation: auto !important;
}


@font-face {
  font-family: 'Moderno';
  src: url('../Assets/Typography/days.ttf');
}

@font-face {
  font-family: 'Mono';
  src: url('../Assets/Typography/susemono.ttf');
}

@font-face {
  font-family: 'Modern';
  src: url('../Assets/Typography/saira.ttf');
}

.m {
  font-family: 'Moderno' !important;
}


btext {
  transition: color 0.4s ease;
  font-size: 18px;
}

btextm {
  font-family: 'Moderno';
  font-size: 24px;
  color: #ffffff;
}

.big {
  font-size: 32px;
}

.small {
  font-size: 18px;
  opacity: 0.5;
}


.image {
  margin: auto;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-clip: content-box !important;
  background-position: center !important;
  transition: all var(--longer) ease;
  text-align: center;
}

btn {
  background: #FFFFFF20;
  transition: all ease .07s;
  position: initial;
  width: fit-content;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  box-shadow: inset 0 0 2px #ffffff10;
  display: block;
  backdrop-filter: blur(12px);
}

#buttons > btn > .image {
  margin: 0px !important;
}
btn:has(.image) {
  padding-left: 5px;
  padding-right: 5px;
}

btn:hover {
  background: #FFFFFF30;
}

btn:active {
  background: #FFFFFF10;
}


::-webkit-scrollbar {
  display: none;
}

a {
  color: #FFFFFF !important;
  cursor: default !important;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#overlay {
  width: 100%;
  height: 100%;
  /* display: block; */
  backdrop-filter: blur(100px);
  background: #000000b4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  transition: all var(--longer) ease;
}


.easy {
  --diff-color: #00FF0030;
  --border-color: #00ff0019;
}

.medium {
  --diff-color: #FFA50030;
  --border-color: #FFA50019;
}

.hard {
  --diff-color: #FF000030;
  --border-color: #FF000019;
}

.expert {
  --diff-color: #ff00ff30;
  --border-color: #c300ff19;
}

.difficulty-dot {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background: var(--diff-color);
  font-size: 20px;
  padding: 5px;
  font-family: 'Moderno';
}

.wideDot {
  width: fit-content;
  aspect-ratio: unset;
  height: fit-content;
  font-family: 'Modern';
  line-height: 10px;
  font-size: 10px;
  margin: 0px;
  margin-bottom: 5px;
  margin-top: auto;
  margin-left: 0px;
  border-radius: 20px;
  padding: 3px 6px 3px 6px;
}

difficulty {
  margin: auto;
  display: block;
  width: fit-content;
  height: fit-content;
}


input {
  border: none !important;
  outline: none !important;
  font-size: 20px;
  border-radius: 3px;
  padding: 6px;
  background-color: #00000070;
  color: #FFFFFF;
}

::selection {
  background: #000000;
  color: #FFFFFF;
}

.dark-btn {
  background: #00000050;
}

.dark-btn:hover {
  background: #00000090;
}

.dark-btn:active {
  background: #00000030;
}

select {
  outline: none !important;
  width: 100%;
  display: block;
  font-size: 20px;
}


.controller_selectable.selected {
  outline: 3px solid #FFFFFF50;
  box-shadow: 0px 0px 10px 10px #FFFFFF50;
  ;
}

.visible_only_with_controller::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url('../Assets/bg.png');
  display: var(--controller-display-state);
  margin: auto;
}

#buttons {
  margin-right: auto;
}