:root {
  --difficulty-1: #9dff0050;
  --difficulty-2: #fffb0050;
  --difficulty-3: #ff000050;
  --difficulty-4: #ff00ff50;

}

body {
  margin-top: 0px;
  margin-left: 0px;
  background: linear-gradient(130deg, #000000, #131313) !important;
  background-repeat: none !important;
  animation: none !important;
  overflow: none !important;
}

#levels {
  width: 100%;
  height: calc(100% - 130px);
  max-height: 1500px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: hidden;
  /* keep them in a single row */
}

.songTile {
  width: calc(100% - 20px);
  height: 250px;
  transform-origin: right;
  opacity: 0.5;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px;
  justify-content: start;
  position: relative;
  z-index: 2;
  margin-left: 10px;
  margin-right: 10px;
  background: #FFFFFF10;
  backdrop-filter: blur(200px);
  transition: all 0.2s cubic-bezier(.17, .67, 0, .95), margin-top 0.2s linear, margin-bottom 0.2s linear !important;
}

.songTile>btextm {
  font-size: 30px;
}

.songTile>.image {
  height: 90px;
  width: 90px;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: 0px;
  opacity: 1;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(.17, .67, .21, 1.43);
  transition-delay: 100ms;
  filter: grayscale(0.4);
}
.highlighted {
  opacity: 1;
  z-index: 5;
}



#song {
  transition: all 0.5s cubic-bezier(1, -0.46, .47, 1.34);
  width: 390px;
  margin-right: auto;
  margin-top: 10px;
  margin-left: 10px;
  height: 100vh;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  animation: kickIn cubic-bezier(0, .74, .17, 1.18) 0.8s 0.2s forwards;
}

.song-details-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#songs {
  transition: all 0.2s cubic-bezier(.17, .67, 0, .95);
  width: calc(100vw - 410px);
  height: calc(100vh - 20px);
  margin-top: 10px;
  background: #FFFFFF10;
  overflow-y: none;
  backdrop-filter: blur(32px);
  margin-left: 10px;
  border-radius: 10px;
  background-size: cover !important;
  background-repeat: repeat;
  opacity: 0;
  animation: kickIn cubic-bezier(0, .74, .17, 1.18) 0.8s forwards;
}

@keyframes kickIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
    translate: 0px 50px;
  }

  100% {
    opacity: 1;
    translate: 0px 0px;
  }
}

@keyframes moveBg {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: calc(100vw - 410px) 0px;
  }
}

#cover-overlay {
  width: 100%;
  background-repeat: no-repeat;
  backdrop-filter: blur(700px);
  background: #00000050;
}

.cover-frame {
  width: 100%;
  aspect-ratio: 8/10;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  transition: all 0.2s ease;
  /* background: url('../Assets/SD.svg'); */
  background-size: cover;
}


.songTile>.cover-frame {
  margin-top: 0px;
}

.songTile>.song-details {
  opacity: 0.5;
  transition: all 0.2s ease;
  padding-left: 20px;
  width: 300px;
}

.songTile:not(.highlighted)>.song-details>.song_artist {
  opacity: 0.5;
  font-size: 16px
}

.songTile.highlighted>.song-details {
  opacity: 1;
  transition: all 0.2s 0.2s ease;
}

.song-cover {
  width: 250px;
  height: 250px;
  aspect-ratio: 1;
  border-radius: 10px;
  display: block;
  margin-left: 0px;
  background: #ffffff40;
  transition: all 0.2s ease;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px 5px #00000020;
  mask-position: 100% 100%;
}

.song-cover.selected {
  box-shadow: none !important;
  outline: none !important;
}

.difficulties-preview {
  backdrop-filter: blur(12px);
  background: #00000050;
  width: fit-content;
  height: 40px;
  padding: 5px;
  position: relative;
  border-radius: 10px;
  scale: 0.7;
  transform-origin: bottom left;
  margin-top: auto;
  transition: all 0.5s ease;
  position: absolute;
  bottom: 10px;
}

.highlighted>div>.difficulties-preview {
  scale: 1;
}

.difficulties-preview>.difficulty-dot {
  margin-left: 0px !important;
  margin-right: 0px !important;
  border-radius: 0px;
}

.difficulties-preview>.difficulty-dot:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.difficulties-preview>.difficulty-dot:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#song-title {
  opacity: 0.9;
  margin-right: auto;
  font-size: 40px;
  display: block;
  width: 300px;
  max-height: 153px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#song-title:hover {
  backdrop-filter: blur(12px);
  position: relative;
  z-index: 1000;
  height: 51px;
  width: 290px;
  max-height: unset;
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

#song-difficulties {
  margin-left: auto;
  min-width: 200px;
  max-width: 500px;
  justify-content: start;
  margin-bottom: 5px;
}

.masked-overflow {
  /* scroll bar width, for use in mask calculations */
  --scrollbar-width: 8px;

  /* mask fade distance, for use in mask calculations */
  --mask-height: 12px;

  /* If content exceeds height of container, overflow! */
  /* overflow-y: auto; */

  /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
  padding-bottom: var(--mask-height);

  /* Keep some space between content and scrollbar */
  padding-right: 20px;

  /* The CSS mask */

  /* The content mask is a linear gradient from top to bottom */
  --mask-image-content: linear-gradient(to bottom,
      transparent,
      black var(--mask-height),
      black calc(100% - var(--mask-height)),
      transparent);

  /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

  /* The scrollbar mask is a black pixel */
  --mask-image-scrollbar: linear-gradient(black, black);

  /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
  --mask-size-scrollbar: var(--scrollbar-width) 100%;

  /* Apply the mask image and mask size variables */
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

  /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
  mask-position: 0 0, 100% 0;

  /* We don't repeat our mask images */
  mask-repeat: no-repeat, no-repeat;
}

.song_name {
  overflow-y: none;
  display: block;
  text-align: left;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-shadow: #00000090 0px 0px 5px;
  font-size: 26px;
}

.song_artist {
  opacity: 0.6;
  text-align: left;
  width: 100%;
  display: block;
  font-size: 15px;
  transition: all 0.5s ease;
}

.difficulty-dot.clickable {
  opacity: 0.5;
  transition: all 0.2s ease, border-radius 0.1s cubic-bezier(.17, .67, .66, 1.35);
  border-color: #00000050;
  width: auto;
  border-radius: 50px;
  padding: 0px;
  width: fit-content;
  margin-right: 5px;
  margin-left: 0px;
  font-size: 12px;
  background-color: unset !important;
}

.difficulty-dot.clickable>div {
  white-space: nowrap;
}

difficulty-name {
  font-size: 12px;
  opacity: 0.5;
  width: 100%;
  display: block;
  text-align: center;
}

difficulty-level {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 35px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  font-family: 'Modern';

  box-shadow: var(--border-color) 0px 0px 0px 3px inset;
  line-height: 60px;
}

.highlighted > .dotParent > difficulty-level {
  background: var(--diff-color) !important;
  box-shadow: #ffffff10 0px 0px 0px 5px inset;
}

.difficulty-dot.clickable.highlighted {
  opacity: 1;
}

.difficulty-dot.clickable:not(.highlighted):hover {
  opacity: 0.8;
}

.difficulty-dot.clickable:not(.highlighted):active {
  opacity: 0.5;
}

.details-cover {
  background-size: cover;
  border-radius: 10px;
  width: 380px;
  height: 380px;
  background-position: center;
  box-shadow: #00000020 0px 0px 5px 5px;
}

#songs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000090;
  backdrop-filter: blur(100px) saturate(140%);
  border-radius: 10px;
}

#play-button {
  padding: 20px !important;
  width: calc(100% - 50px) !important;
  text-align: center;
  background-position: center;
  background-size: 200% 200%;
  border-radius: 10px;
}

/* #play-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000090;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: all 0.1s ease;
} */


#song-credits {
  font-size: 13px !important;
  opacity: 0.5;
}

#song-details {
  height: 100px;
  width: 400px;
  margin-right: auto;
}

#song-details-container {
  height: fit-content
}

#picker-overlay {
  width: 100vw;
  height: 100vh;
  background: #00000000;
  backdrop-filter: blur(100px);
  animation: pickerKickIn 1s ease;
}

@keyframes pickerKickIn {
  0% {
    background: #000000;
  }

  100% {
    background: #00000000;
  }
}

#song-controls {
  width: 100%;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  margin-top: calc(100vh - 62px);
  margin-bottom: 10px;
}

#song-controls>#search-parent>#search {
  background: none !important;
  padding: 0px;
  width: calc(100% - 37px);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
  display: block;
}

#song-controls>#search-parent>.image.search {
  height: 25px;
  width: 25px;
  margin: 0px;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.5;
  display: block;
  background: url(../Assets/Misc/search.svg);
}

#song-controls>#search-parent {
  height: 27px;
  width: 250px;
  margin-right: auto;
  border-radius: 5px;
  ;
  padding: 4px !important;
  backdrop-filter: blur(12px);
  align-items: start;
  background: #00000050;
  box-shadow: inset 0 0 2px #ffffff10;
}

#amount {
  opacity: 0.5;
  font-size: 20px;
  font-family: 'Mono';
  margin-left: 15px;
  margin-top: 10px;
  text-align: left;
  margin-right: auto;
}

#play-button.glyph_select::before {
  content: '';
  width: 30px;
  height: 30px;
  background: url('../Assets/Glyphs/XBOX_CONFIRM.svg');
  background-size: cover;
  top: 45px;
  left: calc(100% - 25px);
  position: absolute;
  display: var(--controller-display-state);
}

.load-segment {
  content-visibility: auto;
  contain: content;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#levelsContent {
  outline: none;
}