/* CONTAINER / SIZING STYLES  >>> */

.noteContainer, .lane, .item {
  contain: layout style;
}

.lane {
  height: var(--raw-size);
  width: var(--note-radius);

  margin-left: 315px;

  margin-right: auto;
  position: absolute;
  opacity: 1;
  overflow: visible;
  pointer-events: none;
}

.laneParent {
  width: var(--raw-size);
  height: var(--raw-size);
  position: absolute;
}

.noteContainer {
  width: 100%;
  height: 315px;
  /* from 315px */
  overflow: visible;
  /* scale: 1 -1; */
  /* transform: translateY(calc(-100% - (var(--note-radius) / 2))); */
  transform: translateY(370px);
  /* from 370px */
  transition: all var(--long) ease;
}

/* NOTE STYLES  >>> */

.item {
  width: var(--note-radius);
  height: var(--note-radius);
  margin-top: 260px;
  /* was calc((((var(--real-size) - var(--note-radius)) / 2) + var(--gap))) */
  background: var(--note);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  z-index: 500;
  pointer-events: auto;
  position: relative;
  shape-rendering: crispEdges;
  /* animation: note_in_classic 100ms ease; */
}

.item.slider {
  background: none;
}

.holdable {
  background: var(--holdNote);
}

.header {
  width: var(--note-radius);
  height: 55px;
  /* calc(var(--note-radius) / 2) */
  
  background-size: cover !important;
  background-repeat: no-repeat !important;
  shape-rendering: geometricPrecision;
}

.header.end {
  background: var(--sliderBottom);
  transform-origin: top;
  transform: translateY(-1px);
}

.header.start {
  background: var(--sliderTop);
  margin-top: auto;
  transform-origin: bottom;
  transform: translateY(1px);
}

.header.midframe {
  background: var(--sliderFrame);
  height: var(--note-radius) !important;
  background-size: var(--note-radius) var(--note-radius) !important;
  background-repeat: repeat-y !important;
  transform-origin: top;
}

.golden {
  background-image: var(--goldenNote) !important;
}

/* TRACE STYLES  >>> */


.traceable {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-size: cover;
  will-change: translate transform;
  opacity: 0;
}

.trace-normal {
  background-image: url('../Assets/Headers/Trace.svg');
  background-repeat: no-repeat;
}

.trace-short {
  width: 370px;
  height: 740px;
  margin-right: 0px;
  transform-origin: left;
  background-image: url('../Assets/Headers/Trace\ Short.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trace-half {
  width: 370px;
  height: 740px;
  margin-right: 0px;
  transform-origin: left;
  background-image: url('../Assets/Headers/Trace\ Curved\ 180deg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trace-quarter {
  width: 370px;
  height: 740px;
  margin-right: 0px;
  transform-origin: left;
  background-image: url('../Assets/Headers/Trace\ Curved\ 90deg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.trace-parent {
  width: var(--raw-size);
  height: var(--raw-size);
  position: absolute;
  animation: fade-in 0.5s ease;
  opacity: 0.7;
  scale: -1;
  mask-image: linear-gradient(to bottom,
      transparent 7%,
      black 12%,
      black 100%);
}

.trace-parent:has(.trace-half) {
  mask-image: linear-gradient(to right,
      transparent 56%,
      black 57%,
      black 100%);
}
.trace-parent:has(.trace-quarter) {
  mask-image: linear-gradient(150deg,
      transparent 55%,
      black 58%,
      black 100%);
}

.trace-parent:has(.trace-short) {
  mask-image: linear-gradient(210deg,
      transparent 22%,
      black 23%,
      black 100%);
}

.trace-parent:has(.trace-inverted) {
  scale: 1 -1;
}

.permissive-swipe::before {
  content: "";
  position: absolute;
  --blurAmount: 10px;
  --halfBlurAmount: 5px;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-image: url('../Assets/Headers/Trace.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: sfx_flicker 0.12s ease-in-out infinite alternate;
}

.permissive-swipe.trace-half::before {
  background-image: url('../Assets/Headers/Trace\ Curved\ 180deg.svg');
}

.permissive-swipe.trace-short::before {
  background-image: url('../Assets/Headers/Trace\ Short.svg');
}

.permissive-swipe.trace-quarter::before {
  background-image: url('../Assets/Headers/Trace\ Curved\ 90deg.svg');
}


/* HINT STYLES  >>> */

.hint {
  content: '';
  width: 740px;
  height: 370px;
  bottom: 50;
  left: -315px;
  position: absolute;
  transform-origin: bottom;
  margin: auto;
  margin-bottom: 0px;
  background: url('../Assets/Playfield/sync_frame.svg') no-repeat center/cover;
  image-rendering: optimizeSpeed;
  display: block;
  will-change: scale;
  contain: layout size;
}

.end>.hint {
  background-image: url('../Assets/Playfield/sync_frame_hold.svg') !important;
}