:root {
  --slider-header-overlap: 4px;
}

.sfx_container {
  position: absolute;
  width: var(--raw-size);
  height: var(--raw-size);
}

.sfx_container:has(.sfx_constant_particle) {
  transition: opacity 0.15s ease;
}

.sfx_outwards_particle {
  background-image: url('../Assets/SFX/Sublayer_Burst.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--raw-size) / 2);
  aspect-ratio: 1/1;
  margin: auto;
  opacity: 0;
  animation: ease sfx_outwards_particle 0.40s forwards;
  transform-origin: bottom;
  scale: 1 0.5;
  border-radius: 5px;
  translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance) + -75px) / -2);
}
.sfx_outwards_particle.sfx_outwards_chevron {
  background-image: url('../Assets/SFX/Sublayer_Chevron.svg');
}
.sfx_outwards_chevron::before {
  width: 100%;
  content: '';
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url('../Assets/SFX/Sublayer_Chevron.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleY(0.5) translateY(-1110px);
  rotate: 180deg;
  transform-origin: top;
}

.sfx_constant_particle {
  background-image: url('../Assets/SFX/Sublayer_Hold.svg');
  animation: ease sfx_constant_particle 0.15s forwards infinite alternate;
  scale: 1 0.9;
}

@keyframes sfx_constant_particle {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes sfx_outwards_particle {
  0% {
    opacity: 0;
    /* translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance) + (var(--raw-size) / -3)) / -2); */
    scale: 1 0.5;
  }

  25% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.8;
    scale: 1 1.2;
  }

  100% {
    opacity: 0;
    scale: 1 1.2;
    /* translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance)) / -2); */
    /* translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance)) / -2); */
    /* translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance)) * -1); */
  }
}

.sfx_outwards_particles {
  width: calc(var(--raw-size) / 2);
  aspect-ratio: 1/1;
  margin: auto;
  opacity: 1;
  transform-origin: bottom;
  /* scale: 1 0.5; */
  border-radius: 5px;
  margin-top: calc(var(--raw-size) / -2) !important;
  translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance) + -75px) / -2);
}

.sfx_outwards_chevrons {
  width: calc(var(--raw-size) / 2);
  aspect-ratio: 1/1;
  margin: auto;
  opacity: 1;
  transform-origin: bottom;
  /* scale: 1 0.5; */
  border-radius: 5px;
  margin-top: calc(var(--raw-size) / -2) !important;
  translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance) + -75px) / -2);
}
.sfx_outwards_chevrons::after,
.sfx_outwards_chevrons::before {
  transform-origin: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../Assets/SFX/Chevron_Particles_Above.svg');
  content: '';
  animation: ease sfx_outwards_particles 0.60s forwards;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}


.sfx_outwards_chevrons::before {
  background-image: url('../Assets/SFX/Chevron_Particles_Below.svg');
  animation-delay: 50ms;
  animation-duration: 0.65s;
  opacity: 0;
}


.sfx_outwards_particles::after,
.sfx_outwards_particles::before {
  transform-origin: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../Assets/SFX/Layer_Particles_Above.svg');
  content: '';
  animation: ease sfx_outwards_particles 0.55s forwards;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}


.sfx_outwards_particles::before {
  background-image: url('../Assets/SFX/Layer_Particles_Below.svg');
  animation-delay: 60ms;
  animation-duration: 0.6s;
  opacity: 0;
}

@keyframes sfx_outwards_particles {
  0% {
    opacity: 0;
    scale: 1 0.5;
    translate: 0px 0px;
  }

  25% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    scale: 1 1.3;
    translate: 0px -60px;
    /* translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance)) / -2); */
    /* translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance)) / -2); */
    /* translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance)) * -1); */
  }
}

.sfx_constant_particles::before,
.sfx_constant_particles::after {
  opacity: 0;
  animation-iteration-count: infinite;
  animation-duration: 1250ms !important;
}

.sfx_constant_particles::before {
  animation-delay: 500ms !important;
}

.sfx_constant_particles_repeat::after {
  animation-duration: 2500ms !important;
  background-image: url('../Assets/SFX/Layer_Particles_Constant_Above.svg') !important;
  animation-delay: 500ms !important;
}

.sfx_constant_particles_repeat::before {
  animation-delay: 400ms !important;
  animation-duration: 1750ms;
  background-image: url('../Assets/SFX/Layer_Particles_Constant_Below.svg') !important;
}

.sfx_header {
  background-image: url('../Assets/SFX/Header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--raw-size) / 2);
  aspect-ratio: 1/1;
  margin: auto;
  opacity: 1;
  transform-origin: bottom;
  translate: 0px calc((var(--raw-size) + var(--outer-container-note-distance) + -170px) / -4);
  animation: sfx_header_burst 0.3s ease forwards;
}

.sfx_header.slider_header {
  background-image: url('../Assets/SFX/Header_Hold.svg');
  animation: sfx_header_constant 0.12s ease-in-out infinite alternate;
}

.sfx_slider_hold {
  height: calc((var(--raw-size) / 2) - var(--slider-header-overlap));
}

.sfx_slider_hold>.midframe::after {
  content: '';
  width: 100%;
  height: 100%;
  --blurAmount: 10px;
  --halfBlurAmount: 5px;
  position: relative;
  display: block;
  background: url('../Assets/Headers/Frame.svg');
  background-size: var(--note-radius) var(--note-radius) !important;
  background-repeat: repeat-y !important;
  animation: sfx_flicker 0.12s ease-in-out infinite alternate;
}

@keyframes sfx_flicker {
  0% {
    opacity: 1;
    filter: blur(var(--blurAmount));
  }

  100% {
    opacity: 0.7;
    filter: blur(var(--halfBlurAmount));
  }
}

@keyframes sfx_header_constant {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}

@keyframes sfx_header_burst {
  0% {
    opacity: 0.2;
  }

  3% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.7;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

.noteContainer:has(.sfx_slider_hold) {
  height: 311px;
  overflow-y: clip;
}


.lightshow_item {
  width: 30vw;
  height: 33.3vh;
  background: white;
  position: fixed;
  opacity: 0;
  filter: blur(100px);
}

.lightshow_item:nth-of-type(2) {
  translate: 0 33.3vh;
}

.lightshow_item:nth-of-type(3) {
  translate: 0 66.6vh;
}

.lightshow_item:nth-of-type(4) {
  translate: 70vw 0;
}

.lightshow_item:nth-of-type(5) {
  translate: 70vw 33.3vh;
}

.lightshow_item:nth-of-type(6) {
  translate: 70vw 66.6vh;
}

.lightshow_item:nth-of-type(7) {
  translate: 35vw 0vh;
}

.lightshow_item:nth-of-type(8) {
  translate: 35vw 66.6vh;
}

.swipe_header {
  background-image: url('../Assets/SFX/Header_Swipe.svg');
  animation: sfx_header_burst 0.3s ease forwards;
}

@keyframes grade_in_animation {
  0% {
    opacity: 0%;
    rotate: 15deg;
  }
  50% {
    opacity: 100%;
    filter: blur(3px);
    scale: 2;
  }
  100% {
    rotate: 0deg;
    opacity: 100%;
    filter: blur(0px);
    scale: 1;
  }
}

#grade {
  opacity: 0;
  animation: grade_in_animation 0.7s ease 3s forwards;
}

@keyframes score_indicator_in {
  0% {
    opacity: 0;
    translate: -20px 0px;
  }
  100% {
    translate: 0px 0px;
    opacity: 1;
  }
}

.scoreIndicator {
  opacity: 0;
  animation-name: score_indicator_in;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.scoreIndicator.perfect {
  animation-delay: 1.25s !important;
}
.scoreIndicator.great {
  animation-delay: 1.5s !important;
}
.scoreIndicator.okay {
  animation-delay: 1.75s !important;
}
.scoreIndicator.bad {
  animation-delay: 2s;
}
.scoreIndicator.miss {
  animation-delay: 2.25s;
}



@keyframes end_gradeParent {
  0% {
    opacity: 0;
    scale: 2;
    filter: blur(12px) brightness(200%) saturate(700%);
  }
  64% {
    scale: 0.98;
  }
  100% {
    opacity: 1;
    scale: 1;
    filter: blur(0px);
  }
}

.end_gradeParent {
  opacity: 0;
  animation: end_gradeParent 1s 1s ease-in-out forwards;
}