input[type="range"] {
  position: absolute;
  bottom: 20;
  right: 20;
  height: 20px;
  background: none;
  -webkit-appearance: none;
  border-radius: 10px;
  padding: 0px;
  background-color: #FFFFFF10;
  transform-origin: bottom;
  transition: all 0.2s cubic-bezier(.97, -0.02, .56, 1.61);
}

#timeRange {
  width: calc(100vw - 130px);
}

input[type="range"]:hover {
  height: 50px;
  border-radius: 0px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #FFFFFF40;
  width: 5px;
  height: 20px;
  transition: all 0.2s cubic-bezier(.97, -0.02, .56, 1.61);
  outline: 0px #FFFFFF10 solid;
}

input[type="range"]:hover::-webkit-slider-thumb {
  height: 50px;
  width: 20px;
  background-color: #FFFFFF50;
  outline: 5px #FFFFFF10 solid;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transition-timing-function: ease;
  background-color: #FFFFFF70;
}


input[type="range"]:active::-webkit-slider-thumb {
  transition-timing-function: ease;
  background-color: #FFFFFF40;
  width: 10px;
  height: 40px;
}

#mouseAugumenter {
  width: 15px;
  height: 15px;
  transition: none !important;
  background-size: contain;
  background-position: center;
  opacity: 0.4;
  position: fixed;
}

#noteContainer:hover #mouseAugumenter {
  opacity: 1;
}

#mouseAugumenter.hovering {
  opacity: 1;
  box-shadow: #000000 0px 0px 10px;
  transform-origin: bottom;
}


#beatsPerMinute {
  width: 500px;
  height: fit-content;
  position: absolute;
  font-family: 'Mono';
  padding-left: 7px;
  right: 28;
  top: 57;
}

#beatsPerMinuteText {
  position: absolute;
  right: 28;
  font-family: 'Mono';
  top: 71;
  opacity: 0.3;
  padding-left: 7px;
}

#beatSnapText {
  position: absolute;
  right: 28;
  font-family: 'Mono';
  top: 32;
  opacity: 0.3;
  padding-left: 7px;
}

#offset {
  width: 500px;
  height: fit-content;
  position: absolute;
  right: 28;
  font-family: 'Mono';
  top: 100;
  padding-left: 7px;
}

#offsetText {
  position: absolute;
  font-family: 'Mono';
  right: 28;
  top: 114;
  opacity: 0.3;
}

#timeRangeLabel {
  position: absolute;
  font-family: 'Mono';
  right: 28;
  bottom: 46;
  opacity: 0.3;
}

#durationLabel {
  position: absolute;
  font-family: 'Mono';
  right: 28;
  bottom: 72;
  padding-left: 15px;
  opacity: 0.3;
}


glow_layer {
  width: 370px;
  height: 245px;
  clip-path: polygon(62.6% 100%,
      37.0% 100%,
      0% 0%,
      100% 0%);
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  left: -185px;
  /* half width to center horizontally */
  transform-origin: center bottom;
  transform: rotate(calc(var(--i) * 60deg)) translateY(-31.5%);
}

.highlight_container {
  position: absolute;
  width: 0;
  height: 0;
  top: 157px;
  /* center of 740px container */
  left: 492.5px;
  rotate: 30deg;
}


.beatLine {
  top: 0;
  /* CRITICAL: Force anchor to the top */
  --bw: 1px;
  --bdc: #FFFFFF;
  --bgc: #00000020;

  width: 370px;
  /* background: var(--bgc); */
  border-top: var(--bw) solid var(--bdc);
  padding-bottom: 1px;
  opacity: 0.5;
  padding-top: 1px;
  translate: 0px 29px;
}

.primaryBeat {
  --bw: 4px;
}

/* .beatLine:nth-of-type(odd) {
  --bgc: #FFFFFF10
} */

/* 
.beatLine:nth-of-type(1) {
  --bgc: #FFFFFF10;
  --bw: 5px;
  --bdc: white;
}
.beatLine:nth-of-type(2) {
  --bgc: #2946ff10;
  --bdc: #2946ff;
}
.beatLine:nth-of-type(3) {
  --bgc: #ff292910;
  --bdc: #ff2929;
}

.beatLine:nth-of-type(4) {} */

.beatLine:hover {
  opacity: 1;
  position: absolute;
}

.beatLine>.item {
  scale: 1;
  transform: scale(1);
  /* margin-top: -60px !important; */
  margin-left: auto;
  margin-right: auto;
  animation: note_in 0.2s ease forwards;
  transition: all 0.2s ease;
}

@keyframes note_in {
  from {
    opacity: 0;
    scale: 0.3;
  }

  to {
    opacity: 0.5;
    scale: 0.5;
  }
}

#levelInfo {
  width: 500px;
  height: 85px;
  top: 28;
  position: fixed;
  left: 95;
  border-radius: 3px;
  background: #FFFFFF10;
}

#noteInfo {
  width: 500px;
  right: 28;
  position: fixed;
  border-radius: 5px;
  background: #FFFFFF15;
  bottom: 100;
  height: 500px;
}

#noteInfo>#placeholder {
  position: relative;
  opacity: 0.5;
}

#note-preview {
  background: #FFFFFF10;
  position: absolute;
  top: -20;
  left: -20;
  rotate: -5deg;
  height: 50px;
  width: 50px;
  backdrop-filter: blur(12px);
  border-radius: 5px;
}

#note-direction-toggle {
  width: 500px;
}

#levelInfo>#songArt {
  /* mask-image: linear-gradient(90deg, transparent, black); */
  position: absolute;
  opacity: 0.5;
  border-radius: 0px;
  border-radius: 0px;
  left: 0;
  top: 0;
  width: 85px;
  height: 85px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  transform-origin: left;
  /* transform: perspective(18px) rotateY(-2deg) !important; */
}

#levelInfo>#songName {
  position: relative;
  top: 0px;
  mask: linear-gradient(270deg, #00000020, #00000050);
  right: 3px;
}

#levelInfo>#songArtist {
  position: absolute;
  bottom: -8px;
  right: 2px;
  mask: linear-gradient(90deg, #00000020, #00000050);
}

#songArtist:before {
  font-size: 20px;
  content: 'by '
}

#zoomFactor::before {
  content: "-";
  position: absolute;
  font-size: 20px;
  line-height: 20px;
  top: calc(50% - 10px);
  bottom: 50%;
  left: 4px;
  opacity: 0.5;
}

#zoomFactor::after {
  content: "+";
  position: absolute;
  font-size: 20px;
  line-height: 20px;
  top: calc(50% - 10px);
  bottom: 50%;
  opacity: 0.5;
  right: 4px;
}

#zoomText {
  position: absolute;
  left: 97;
  top: 115;
  font-family: 'Mono';
  opacity: 0.3;
}

#speedText {
  position: absolute;
  left: 349;
  top: 115;
  font-family: 'Mono';
  opacity: 0.3;
}

#tabText {
  position: absolute;
  right: 392px;
  font-family: 'Mono';
  bottom: -362px;
  opacity: 0.3;
  padding-left: 7px;
}

#noteStartTime {
  font-family: 'Mono';
  opacity: 0.3;
  width: calc(100% - 18.5px);
  display: block;
  position: absolute;
  margin-left: auto;
  text-align: right;
  margin-top: 12px;
}



#genericValueLabel {
  font-family: 'Mono';
  opacity: 0.3;
  width: 100%;
  display: block;
  margin-left: auto;
  text-align: left;
  line-height: 14px;
}


.eventControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
  height: 50px;
  background: #FFFFFF10;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#createIcon {
  background-image: url('../Assets/Misc/add.svg');
  height: 30px;
  width: 30px;
  opacity: 0.5;
  margin: auto;
}
#pasteIcon {
  background-image: url('../Assets/Misc/paste.svg');
  height: 30px;
  width: 30px;
  opacity: 0.5;
  margin: auto;
}
#noteEvents {
  width: 100%;
  height: 355px;
  position: absolute;
  bottom: 35px;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  translate: 0px -17.5px;
  --fade-size: 10px;

  -webkit-mask-image: linear-gradient(to bottom,
      transparent,
      black var(--fade-size)),
    linear-gradient(to top,
      transparent,
      black var(--fade-size));
  mask-image: linear-gradient(to bottom,
      transparent,
      black var(--fade-size)),
    linear-gradient(to top,
      transparent,
      black var(--fade-size));
  -webkit-mask-composite: source-in, source-in;
  mask-composite: intersect;
}

#deleteIcon {
  background-image: url('../Assets/Misc/trash.svg');
  height: 20px;
  width: 20px;
  opacity: 0.5;
  margin: auto;
}

#expandIcon {
  background-image: url('../Assets/Misc/export.svg');
  height: 20px;
  width: 20px;
  opacity: 0.5;
  margin: auto;
}

#extendIcon {
  background-image: url('../Assets/Misc/openExternally.svg');
  height: 20px;
  width: 20px;
  opacity: 0.5;
  margin: auto;
}

#copyIcon {
  background-image: url('../Assets/Misc/duplicate.svg');
  height: 20px;
  width: 20px;
  opacity: 0.5;
  margin: auto;
}

.noteEvent {
  width: calc(100% - 20px);
  padding: 5px;
  margin: auto;
  background: #FFFFFF10;
  margin-top: 5px;
  border-radius: 5px;
}

.separator {
  width: 490px;
  margin: auto;
  border-bottom: dashed #FFFFFF40 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.expandableEventDetails {
  width: calc(100%);
  height: 0px;
  overflow: auto;
  transition: all 0.2s cubic-bezier(.27, .08, 0, .98);
}

.expandableEventDetails .expanded {
  overflow: visible !important;
}

@keyframes iconIn {
  0% {
    transform-origin: top left;
    scale: 8;
    opacity: 1;
    filter: blur(12px);
  }

  40% {
    filter: blur(12px);
  }

  100% {
    transform-origin: top left;
    scale: 1;
    opacity: 0.5;
    filter: blur(0px);
  }
}

#songArt {
  animation: iconIn 0.8s 0.7s cubic-bezier(.4, .72, .42, 1) forwards;
  transform-origin: top left !important;
  scale: 8;
  filter: blur(12px);
  opacity: 1;
}


#transitionOverlay {
  width: 120vw;
  margin-top: -10vh;
  margin-left: -10vw;
  height: 120vh;
  background: white;
  animation: out 0.7s 0.8s cubic-bezier(.64, .45, 1, .75) forwards;
  position: absolute;
  z-index: 9999999;
}

@keyframes out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.specificsModal {
  position: fixed;
  height: 600px;
  width: 600px;
  top: calc(50vh - 320px);
  left: calc(50vw - 310px);
  z-index: 2;
  scale: 1.2;
  opacity: 0;
  transition: all 0.3s ease;
  backdrop-filter: blur(48px);
  box-shadow: inset #FFFFFF10 0px 0px 1px 1px;
  border-radius: 5px;
  padding: 10px;
  filter: blur(12px);
}

.engagedSpecificsModal {
  scale: 1 !important;
  opacity: 1 !important;
  filter: blur(0px);
}

.specificsModal>.ss-main {
  width: 100% !important;
}

.specificStyles {
  border-top: dotted 1px #FFFFFF10;
  height: 343px;
  width: calc(100% + 20px);
  margin-left: -10px;
  overflow-y: auto;
  padding-top: 10px;
  margin-top: -5px;

  --fade-size: 10px;

  -webkit-mask-image: linear-gradient(to bottom,
      transparent,
      black var(--fade-size)),
    linear-gradient(to top,
      transparent,
      black var(--fade-size));
  mask-image: linear-gradient(to bottom,
      transparent,
      black var(--fade-size)),
    linear-gradient(to top,
      transparent,
      black var(--fade-size));
  -webkit-mask-composite: source-in, source-in;
  mask-composite: intersect;
}


.input-main {
  display: flex;
  flex-direction: row;
  position: relative;
  user-select: none;
  color: var(--ss-font-color);
  min-height: var(--ss-main-height);
  width: 100%;
  padding: var(--ss-spacing-s);
  cursor: default;
  border: 1px solid var(--ss-border-color);
  border-radius: var(--ss-border-radius);
  background-color: var(--ss-bg-color);
  outline: 0;
  z-index: 10000;
  box-sizing: border-box;
  transition: background-color var(--ss-animation-timing);
  overflow: hidden
}

body:has(.specificsModal) #controls {
  pointer-events: none !important;
}